---
BasedOnStyle: Google
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
IndentWidth: 4
Standard: c++17
TabWidth: 4
ColumnLimit: 100
IndentCaseLabels: false
# AllowShortIfStatementsOnASingleLine: Never
BreakConstructorInitializers: AfterColon